*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Inter, sans-serif;
    background:rgba(40, 45, 53, 1);
}

.navbar{
   display: flex;
   height: 90px;
   padding: 30px 25px;
   background-color:rgba(33, 34, 42, 1);
   align-items: center;
}

.navbar h3{
    margin: 0;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
} 
.navbar h2{
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: rgba(97, 218, 251, 1) ;
}



.navbar h3{
    margin-left: auto;
}

.navbar img{
    height: 30px;
    margin-right: 8px;
}
main{
    padding: 57px 27px;
}

main h1{
    color: rgba(255, 255, 255, 1);
    margin: 0px;
    letter-spacing: -0.05em;
}

main ul li{
    padding-block: 10px;
    color: rgba(255, 255, 255, 1);
    /* line-height: 47px; */
}
main ul{
    padding-top: 46px;
    max-width: 400px;

}
main ul li::marker{
    font-size: 1.4rem;
    color: rgba(97, 218, 251, 1);
}